body {
	text-align: center;
	background-color: #ececec;
}

#titleBar {

}

#mainWrapper {
	position: absolute;
	width: calc(100% - 10px);
	min-height: 700px;
	overflow-x: hidden;
	background-color: #ececec;
	font-size: 0.92rem;
}

#accountsWrapper {
	position: absolute;
	top: 5px;
	left: 0px;
	/*width: 480px;*/
}	

.acctDivToggle, .recordDivToggle {
	position: absolute;
	bottom: 5px;
	left: 45%;
	height: 10px;
	line-height: 12px;
	width: 50px;
	padding: 0px;
	text-align: center;
	color: rgb(190,190,190);
	font-size: 8px;
	background-color: rgb(245,245,245);
	border-radius: 2px;
}

 .recordDivToggle {
	margin-bottom: -5px;
}

.acctItem {
	position: relative;
	height: 50px;
	margin: 5px;
	padding: 10px;
	background-color: #fff;	
	border: 1px solid #d8d8d8;
}

#acctRecordTitle {
	/*width: 480px;*/
}


#recordsWrapper {
	position: absolute;
	top: 5px;
	left: 485px;
	/*width: 480px;*/
}	

.recordItem {
	position: relative;
	max-height: 38px;
	margin: 5px;
	padding: 10px;
	background-color: #ececec;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}

.acctLabel {
	text-align: left;
}

.acctBal {
	text-align: center;
}

.acctFormDiv {
	display: none;
	margin-top: 20px;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}