body {
	text-align: center;
}

#titleBar {

}

#mainWrapper {
	position: absolute;
}

#accountsWrapper {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 480px;
}	

#recordsWrapper {
	position: absolute;
	top: 5px;
	left: 485px;
	width: 480px;
}	

.acctItem {
	height: 50px;
	margin: 5px;
	padding: 10px;
	background-color: #ececec;
}

#acctRecordTitle {
	width: 480px;
}

.recordItem {
	height: 70px;
	margin: 5px;
	padding: 10px;
	background-color: #ececec;
}

.acctLabel {
	text-align: left;
}

.acctBal {
	text-align: center;
}

.acctFormDiv {
	display: none;
	margin-top: 20px;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}